{% extends "base.html" %}

{% block content %}
    <br>
<div class="text-center">
<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> paypal</title>
</head>

<body>
    <!-- Set up a container element for the button -->
    <h1>Pay Via Paypal</h1>
    <br>
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AbhJlf7pPWQ9Cp7uLWl4SFztzd_lyjalG4KSDofXMPC28O4uWTlCG0ltBhFOwFd4ZbsgxO1WnBYEHs7p&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{ stuff.get_final_total }}
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    window.location= "/eraser";
                    alert('Transaction completed!');
                });
            }


        }).render('#paypal-button-container');
    </script>
</body>
    </div>
{% endblock %}